@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>스룩페이란?</h1>
    <p class="lead">
        다양한 SNS에서 별도의 쇼핑몰을 만들지 않아도<br />
        주문서와 배송관리를 사용할 수 있는 특별한 결제 서비스입니다.
    </p>
    <p><a href="https://srookpay.com/" class="btn btn-primary btn-lg">더 알아보기 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>셀럽션</h2>
        <p>
            국내 최초 판매대행사에게 인플루언서 판매관리를 위한 솔루션과 함께
            공동구매 판매 플랫폼을 제공하는 서비스입니다.
        </p>
        <p><a class="btn btn-default" href="https://srookpay.com/function/celebLink">지금 바로 시작하기 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>이카운트</h2>
        <p>
            이카운트는 재고, 생산, 회계, 영업, 급여, 그룹웨어, 웹메일 등 업무관리에
            필요한 모든 기능을 제공하는 클라우드 기반의 ERP프로그램입니다.
        </p>
        <p><a class="btn btn-default" href="https://srookpay.com/marketing/ecount">신청하기 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>가입안내</h2>
        <p>가입비 없는 국내 최저가 수수료를 제공합니다.</p>
        <p><a class="btn btn-default" href="https://srookpay.com/info/join_info">가입하기 &raquo;</a></p>
    </div>
</div>