<html>
<head>
    <h2>로그인</h2>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <hr />

    <script>

        function LoginValidation() {

            var account = {};
            account.UserId = $("#UserId").val();
            account.Password = $("#Password").val();

            $.ajax({
                //contentType: "application/json",
                //dataType: "json",  // 서버에서 보내줄 데이터의 타입
                type: "POST",  // HTTP 요청 방식(GET, POST)
                url: "/Account/Login", // 클라이언트가 요청을 보낼 서버의 URL 주소
                data: { account }, // HTTP 요청과 함께 서버로 보낼 데이터. Controller에서 받아오는 매개변수명이랑 같아야 한다.
                success: function (response) {
                    console.log(response);
                    if (response == true) {
                        alert("환영합니다.")
                        window.location.href = "/Home/Index";
                    } else {
                        alert("아이디와 비밀번호를 다시 한번 확인해주세요.")
                        window.location.href = "/Account/Login";
                    }
                },
                error: function () {
                    alert("Error!!!!!!!!!");
                }
            });
        }

        $(document).ready(function () {
            $("#btnLogin").on("click", function () {

                // "아이디" 공백 확인
                if ($("#UserId").val() == "") {
                    alert("아이디를 입력하세요.");
                    $("#UserId").focus();
                    return false;
                }
                // "비밀번호" 공백 확인
                if ($("#Password").val() == "") {
                    alert("비밀번호를 입력하세요.");
                    $("#Password").focus();
                    return false;
                }

                var account = {};
                account.UserId = $("#UserId").val();
                account.Password = $("#Password").val();
                @*var UserId = $("#UserId").val();
                var Password = $("#Password").val();*@

                $.ajax({
                    contentType: "application/json",
                    dataType: "json",  // 서버에서 보내줄 데이터의 타입
                    type: "POST",  // HTTP 요청 방식(GET, POST)
                    url: "/Account/Login", // 클라이언트가 요청을 보낼 서버의 URL 주소
                    data: { account }, // HTTP 요청과 함께 서버로 보낼 데이터
                    //data: { UserId: UserId, Password: Password },
                    success: function (response) {
                        if (response == true) {
                            alert("환영합니다.");
                            window.location.href = "/Home/Welcome";
                        } else {
                            alert("아이디와 비밀번호를 다시 한번 확인해주세요.");
                            window.location.href = "/Account/Login";
                        }
                    },
                    error: function () {
                        alert("Error!!!!!!!!!");
                    }
                });
            });
        });


    </script>

</head>
<body>
    @*<form class="form-horizontal" id="LoginForm" method="post">*@

        <div class="form-group">
            <label>아이디</label>
            <input type="text" class="form-control" id="UserId" placeholder="아이디"  />
        </div>
        <div class="form-group">
            <label>비밀번호</label>
            <input type="password" class="form-control" id="Password" placeholder="비밀번호"  />
        </div>
        <div class="form-group">
            <input type="checkbox" value="RememberMe" id="RememberMe"> <label for="RememberMe">Remember me?</label>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" onclick="LoginValidation();" value="Login" id="btnLogin">로그인</button>
            <a class="btn btn-default" href="javascript:window.history.back();">취소</a>
        </div>

    @*</form>*@
</body>
</html>