@model RegistrationAndLogin7.Models.Account
<html>
<head>
    <h2>로그인</h2>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <hr />

    <script>
        function LoginValidation() {
            // Email 공백 확인
            if ($("#Email").val() == "") {
                alert("Email을 입력하세요.");
                $("#Email").focus();
                return false;
            }
            // 비밀번호 공백 확인
            if ($("#Password").val() == "") {
                alert("비밀번호를 입력하세요.");
                $("#Password").focus();
                return false;
            }
            return false;
        };
    </script>

</head>
<body>
    <form class="form-horizontal" id="LoginForm" onsubmit="return LoginValidation()" method="post">

        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" id="Email" placeholder="예) example@srook.net" />
        </div>
        <div class="form-group">
            <label>비밀번호</label>
            <input type="password" class="form-control" id="Password" placeholder="비밀번호" />
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">로그인</button>
            <a class="btn btn-default" href="javascript:window.history.back();">취소</a>
        </div>

    </form>
</body>
</html>